In [16]:
import numpy as np
import pandas as pd
import json, requests

#get json data
f = open('orders.json')
q1_orders = json.load(f)
f.close()

#get api exchange rates
response = requests.get('https://api.exchangeratesapi.io/history?start_at=2020-01-01&end_at=2020-03-31&base=USD&symbols=CAD')
#response = requests.get('https://api.exchangeratesapi.io/historybase=USD')
response.raise_for_status()
fx = json.loads(response.text)


#join on date
#create two dataframes
df_q1 = pd.json_normalize(q1_orders)
df_fx = pd.DataFrame(fx)

In [55]:
df_fx.head()

                            rates    start_at base      end_at  cad_rates
2020-01-02   {'CAD': 1.299830251}  2020-01-01  USD  2020-03-31   1.299830
2020-01-03  {'CAD': 1.2981968243}  2020-01-01  USD  2020-03-31   1.298197
2020-01-06  {'CAD': 1.2975701269}  2020-01-01  USD  2020-03-31   1.297570
2020-01-07  {'CAD': 1.2996777658}  2020-01-01  USD  2020-03-31   1.299678
2020-01-08  {'CAD': 1.3018443545}  2020-01-01  USD  2020-03-31   1.301844

In [52]:
df_fx['rates'][0]['CAD']

1.299830251

In [54]:
df_fx['cad_rates'] = df_fx['rates'].apply(lambda x: x['CAD'])

In [45]:
df_q1.head()

,id,total_price,created_at,line_items,customer.id,customer.name,customer.email,order_date
0,8369263756632563,79.39,2020-03-07T14:31:11Z,"[{'id': 610448, 'product_id': 632910392, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-07
1,7262170348080494,86.98,2020-03-01T09:16:30Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-03-01
2,7722055557038194,36.99,2020-01-01T09:17:03Z,"[{'id': 759658, 'product_id': 573794972, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-01-01
3,4280852170163518,55.98,2020-03-10T11:59:46Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-03-10
4,5058732129957127,309.98,2020-03-15T07:27:24Z,"[{'id': 604665, 'product_id': 510650809, 'prod...",59933,Ethan Jones,ethan.jones@gmail.com,2020-03-15

In [44]:
df_q1['order_date'] = df_q1['created_at'].apply(lambda x: x[:10])

In [57]:
df_join_q1_fx = pd.merge(left=df_q1,right=df_fx,left_on='order_date',right_index=True)

In [59]:
df_join_q1_fx.head()

,id,total_price,created_at,line_items,customer.id,customer.name,customer.email,order_date,rates,start_at,base,end_at,cad_rates
3,4280852170163518,55.98,2020-03-10T11:59:46Z,"[{'id': 317808, 'product_id': 477365777, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-03-10,{'CAD': 1.3677787533},2020-01-01,USD,2020-03-31,1.367779
5,6431399815998774,315.97,2020-03-12T07:16:07Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",23955,Daniel Smith,daniel.smith@gmail.com,2020-03-12,{'CAD': 1.38113879},2020-01-01,USD,2020-03-31,1.381139
10,5307192536865304,86.98,2020-03-12T01:40:57Z,"[{'id': 997208, 'product_id': 278266679, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-12,{'CAD': 1.38113879},2020-01-01,USD,2020-03-31,1.381139
6,5791957346866373,36.99,2020-03-24T09:52:40Z,"[{'id': 759658, 'product_id': 573794972, 'prod...",47178,William Doe,william.doe@gmail.com,2020-03-24,{'CAD': 1.4494143687},2020-01-01,USD,2020-03-31,1.449414
15,5235927587417736,36.99,2020-03-24T07:12:33Z,"[{'id': 759658, 'product_id': 573794972, 'prod...",94720,Emile Tumson,emile.tumson@gmail.com,2020-03-24,{'CAD': 1.4494143687},2020-01-01,USD,2020-03-31,1.449414